/*@import '@fontsource/fira-mono';*/
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Ubuntu, 'Helvetica Neue', sans-serif;
}

body {
	@apply text-white bg-gray-900;
	min-height: 100vh;
	margin: 0;
	font-size: 1.25rem;

}

body::before {
	content: '';
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: -1;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
code {
	font-family: 'Fira Code';
	font-size: 1.25rem;
	line-height: 1.5rem;
	overflow-x: clip;
	display: block;
	white-space: pre;
	margin: 1em 0px;
	@apply bg-gray-500/10 block text-white border-b-4 rounded-sm border-orange-600 drop-shadow-lg shadow-orange-600/50 p-4;
}

@supports (font-variation-settings: normal) {
	code {
		font-family: 'Fira Code VF';
		font-size: 1.25rem;
		line-height: 1.5rem;
		overflow-x: clip;
		display: block;
		white-space: pre;
		margin: 1em 0px;
		@apply bg-gray-500/10 block text-white border-b-4 rounded-sm border-orange-600 shadow-lg shadow-orange-600/50 p-4;
	}
}

h1,
h2,
p {
	font-weight: 400;
	@apply text-white py-2;
}

p {
	line-height: 1.5;
}

a {
	@apply text-orange-600;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
}

h1 {
	@apply text-8xl text-orange-600 py-4;
	font-variant: small-caps;
}

h2 {
	@apply text-6xl text-orange-600 py-4;
	font-variant: small-caps;
}

h3 {
	@apply text-4xl text-orange-600 py-4;
	font-variant: small-caps;
}

h4 {
	@apply text-2xl text-orange-600 py-4;
	font-variant: small-caps;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

div.portfolio {
	@apply grid grid-cols-3 gap-x-4 gap-y-16 w-full;
}

div.portfolio-item {
	@apply border-b-4 w-full rounded-sm border-orange-600 shadow-lg shadow-orange-600/50;
}

div.portfolio-item img {
	@apply shadow-lg shadow-black/50 rounded-md;
}

h3.portfolio-title {
	@apply text-center;
}

p.portfolio-description,
p.portfolio-year {
	width:95%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

code.portfolio-tags{
	@apply border-b-0 shadow-gray-500/50 mb-8 text-white;
;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
